<div class="portfolio-item" data-locations="{{serializedLocations}}" data-codes="{{serializedCodes}}" data-disciplines="{{serializedDisciplines}}">
  <div class="card">
    {{#if files.length}}
      <div class="image-container">
        {{#each files}}<img src="images/portfolio/{{this}}" />{{/each}}
      </div>
    {{/if}}

    <div class="card-content">
      <h2>{{title_en}}</h2>
      <p class="labels">
        {{#each locationNames}}
          <span class="label label-default label-location">{{ this }}</span>
        {{/each}}
        {{#each codeNames}}
          <span class="label label-default label-code">{{ this }}</span>
        {{/each}}
        {{#each disciplineNames}}
          <span class="label label-default label-discipline">{{ this }}</span>
        {{/each}}
      </p>
    </div>
  </div>
</div>
